html {
    font-family: sans-serif; /* Set the font family for the entire HTML document */
    font-size: 16px; /* Set the base font size for the document */
    background-color: white; /* Set the background color of the entire document */
}

/* Fancy Box Specific Styles */

div {
    width: 250px; /* Set the width of the div element to 250px */
    line-height: 8; /* Set the line height of the text within the div */
    background-color: rgba(249, 1, 0, 1); /* Set the background color of the div with RGBA values */
    margin: 80px auto; /* Center the div horizontally with a top margin of 80px */
    border-radius: 10px; /* Apply rounded corners to the div */
    background-image: linear-gradient(to bottom right, transparent, 30%, rgba(0, 0, 0, 0.2)); /* Apply a linear gradient background */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7), inset 5px 5px 5px rgba(255, 255, 255, 0.2), inset -5px -5px 5px rgba(0, 0, 0, 0.3); /* Apply multiple box shadows */
    border: 2px solid rgb(136, 1, 0, 1); /* Set a 2px solid border with RGBA values */
    color: rgb(255, 255, 255, 0.9); /* Set the text color with RGBA values */

    /* Dividing the 20px by the font size (html) to get the rems value */
    font-weight: bold; /* Set the font weight to "bold" for thicker text */
    font-size: 1.25rem; /* Set the font size in rems */
    text-align: center; /* Center-align the text within the div */
    text-shadow: 1px 1px 1px black; /* Apply a subtle text shadow */
}
